<template>
  <div class="card" v-if="info.svg">
    <img class="card-img-top" :src="info.svg" :alt="info.name">
    <div class="card-body">
      <h4>{{info.name}}</h4>
      <!-- Level : <star-icon v-for="(s,i) in star" :key="i"></star-icon> -->
    </div>
  </div>
</template>

<script>
import StarIcon from "~/components/StarIcon.vue";
export default {
  props: ["info"],
  components: {
    "star-icon": StarIcon
  },
  computed: {
    star() {
      return new Array(this.info.level);
    }
  }
};
</script>


<style scoped>
.card {
  margin-bottom: 30px;
}
</style>
