<template>
  <div class="painting" ref="svg" v-html="svgHtml"></div>
</template>

<script>
import Axios from "axios";
export default {
  props: ["info"],
  data() {
    return {
      svgHtml: "",
      svgTag: ""
    };
  },
  mounted() {
    this.svgTag = this.$refs.svg;
    this.loadSvg().then(x => x);
  },
  methods: {
    async loadSvg() {
      const { data } = await Axios.get(this.info.svg);
      this.svgHtml = data;
      this.customStyle();
      this.addEvent();
    },
    customStyle() {
      this.$nextTick().then(() => {
        let style = this.svgTag.querySelector("style");
        let newStype = document.createTextNode(
          ".default {stroke: #ccc;fill: #eee;} .default.active {stroke: #555;}"
        );
        style.innerHTML = "";
        style.appendChild(newStype);
      });
    },
    addEvent() {
      this.$nextTick().then(() => {
        let paths = this.svgTag.querySelectorAll("path");
        paths.forEach((element, index) => {
          element.classList.add("default");
          element.addEventListener("click", active);
        });
      });
      const active = (e) => {
        e.target.classList.add("active");
        this.$emit('onActive',e);
      }
    },
    clearActive(){
        let paths = this.svgTag.querySelectorAll("path,circle");
        paths.forEach(element => {
          element.classList.remove("active");
        });
    },
    setColor(color) {
      const elemActive = this.svgTag.querySelector(".active");
      elemActive.style.fill = color;
      this.clearActive();
    },
    saveImage() {
      var svgData = this.$refs.svg.outerHTML;
      var svgBlob = new Blob([svgData], {
        type: "image/svg+xml;charset=utf-8"
      });
      var svgUrl = URL.createObjectURL(svgBlob);
      var downloadLink = document.createElement("a");
      downloadLink.href = svgUrl;
      downloadLink.download = this.info.name + ".svg";
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    }
  }
};
</script>

<style scoped>
.frame {
  position: relative;
}
.frame .example {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  border: 1px solid #eee;
}
.frame .palette{
  position: absolute;
  width: 20%;
  top: 20%;
  left: 0;
}
.frame .painting{
  margin-left: 20%;
}
.default {
  stroke: #ccc;
  fill: #eee;
}
.default.active {
  stroke: #555;
}
</style>
