<template>
  <div>
    <div class="color" v-for="(color,i) in colors" :key="i" :style="{ background: color }" @click="speak(color)">
        <!-- <span>{{color}}</span> -->
    </div>
  </div>
</template>

<script>
export default {
  props: ["colors"],
  data() {
    return {
      synth: window.speechSynthesis,
      pitch: 1,
      rate: 1,
      voice: "Kanya"
    };
  },
  methods: {
    speak(text) {
      if (this.synth.speaking) {
        console.error("speechSynthesis.speaking");
        return;
      }
      if (text !== "") {
        var utterThis = new SpeechSynthesisUtterance(text);
        utterThis.onend = function(event) {
          console.log("SpeechSynthesisUtterance.onend");
        };
        utterThis.onerror = function(event) {
          console.error("SpeechSynthesisUtterance.onerror");
        };
        const voices = this.synth.getVoices();
        const voice = voices.filter(item => {
          return item.name === this.voice;
        });

        utterThis.voice = voices[0];
        utterThis.pitch = this.pitch;
        utterThis.rate = this.rate;
        this.synth.speak(utterThis);
      }
    }
  }
};
</script>

<style scoped>
.color {
  width: calc(20% - 10px);
  padding-bottom: calc(20% - 10px);
  position: relative;
  border: 1px solid #555;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
}
.color span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 4px;
  border: 1px solid #555;
  border-radius: 10px;
}
</style>
