<template>
<section>
    <button @click="startRecord" class="btn-recording" oncontextmenu="return false;" v-show="recording">
      <img src="~/assets/svg/microphone.svg">
    </button>
</section>
</template>

<script>
export default {
  data() {
    return {
      recognition: null,
      recording: false,
      colors: [
        "aqua",
        "azure",
        "beige",
        "bisque",
        "black",
        "blue",
        "brown",
        "chocolate",
        "coral",
        "crimson",
        "cyan",
        "fuchsia",
        "ghostwhite",
        "gold",
        "goldenrod",
        "gray",
        "green",
        "indigo",
        "ivory",
        "khaki",
        "lavender",
        "lime",
        "linen",
        "magenta",
        "maroon",
        "moccasin",
        "navy",
        "olive",
        "orange",
        "orchid",
        "peru",
        "pink",
        "plum",
        "purple",
        "red",
        "salmon",
        "sienna",
        "silver",
        "snow",
        "tan",
        "teal",
        "thistle",
        "tomato",
        "turquoise",
        "violet",
        "white",
        "yellow"
      ]
    };
  },
  mounted() {
    this.initSpeechRecognition();
    this.triggerRecognition();
    // this.triggerButton(this.$refs.record);
  },
  methods: {
    initSpeechRecognition() {
      const SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
      const SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
      this.recognition = new SpeechRecognition();
      const grammar =
        "#JSGF V1.0; grammar colors; public <color> = " +
        this.colors.join(" | ") +
        " ;";
      const speechRecognitionList = new SpeechGrammarList();
      speechRecognitionList.addFromString(grammar, 1);
      this.recognition.grammars = speechRecognitionList;
      this.recognition.lang = "en-EN";
      this.recognition.interimResults = false;
      this.recognition.maxAlternatives = 1;
    },
    triggerRecognition() {
      this.recognition.onstart = () => {
        this.recording = true;
        console.log(
          "Voice recognition activated. Try speaking into the microphone."
        );
      };

      this.recognition.onspeechend = () => {
        this.recording = false;
        this.recognition.stop();
        console.log(
          "You were quiet for a while so voice recognition turned itself off."
        );
      };

      this.recognition.onerror = event => {
        if (event.error == "no-speech") {
          console.log("No speech was detected. Try again.");
        }
      };

      this.recognition.onresult = event => {
        var current = event.resultIndex;
        var transcript = event.results[current][0].transcript;
        this.textOutput(transcript.replace(" ", ""));
      };
    },
    triggerButton(button) {
      button.addEventListener("touchstart", () => this.startRecord());
      button.addEventListener("touchend", () => this.stopRecord());
      button.addEventListener("mousedown", () => this.startRecord());
      button.addEventListener("mouseup", () => this.stopRecord());
    },
    startRecord() {
      this.recognition.start();
    },
    stopRecord() {
      this.recognition.stop();
    },
    textOutput(text) {
      this.$emit("textOutput", text);
    }
  }
};
</script>

<style scoped>
.btn-recording {
  width: 50px;
  height: 50px;
  border: 2px solid #f00;
  border-radius: 50%;
  background: #fff;
  animation: record 1s infinite;
}
.btn-recording img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  transform: translate(-50%, -50%);
}
@keyframes record {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
</style>
