<template>
<section>
    <button @click="startRecord" class="btn btn-success" oncontextmenu="return false;">
      <span v-if="!recording">Tap for speak</span>
      <span v-else>Speaking ...</span>
    </button>
</section>
</template>

<script>
var MediaStreamRecorder = require("msr");
import Axios from "axios";
export default {
  data() {
    return {
      recording: false
    };
  },
  mounted() {
    this.initSpeechRecognition();
    // this.triggerRecognition();
    // this.triggerButton(this.$refs.record);
  },
  methods: {
    initSpeechRecognition() {
      const mediaConstraints = { audio: true };
      navigator.getUserMedia(mediaConstraints, () => {}, () => {});
    },
    triggerRecognition() {

    },
    triggerButton(button) {
      button.addEventListener("touchstart", () => this.startRecord());
      button.addEventListener("touchend", () => this.stopRecord());
      button.addEventListener("mousedown", () => this.startRecord());
      button.addEventListener("mouseup", () => this.stopRecord());
    },
    startRecord() {
      this.recording = true;
      const mediaConstraints = { audio: true };
      navigator.getUserMedia(
        mediaConstraints,
        this.onMediaSuccess,
        this.onMediaError
      );
      this.prepareTime = 3;
      let interval = setInterval(() => {
        this.prepareTime = this.prepareTime - 1;
        if (this.prepareTime === 0) {
          clearInterval(interval);
          this.stopRecord();
        }
      }, 1000);
    },
    stopRecord() {
      this.mediaRecorder.stop();
    },
    textOutput(text){
      this.$emit('textOutput',text);
    },
    async onMediaSuccess(stream) {
      console.log("onMediaSuccess");
      this.mediaRecorder = new MediaStreamRecorder(stream);
      this.mediaRecorder.mimeType = "audio/wav";
      this.mediaRecorder.sampleRate = 44100;
      this.mediaRecorder.audioChannels = 1;
      this.mediaRecorder.ondataavailable = async blob => {
        const formData = await this.createFormData(blob);
        const { data } = await Axios({
          method: 'post',
          url: 'https://kriang.space/speech/color',
          data: formData,
          config: {
            headers: {
              'Content-Type': 'multipart/form-data',
              'Access-Control-Allow-Origin': true
            },
            credentials: true
          }
        });
        this.textOutput(data.data.speech.color);
        this.recording = false;
      };
      this.mediaRecorder.start(10000);
    },
    createFormData(blob) {
      return new Promise((resolve, reject) => {
        var file = new File([blob], new Date().getTime() + ".mp3", {
          type: "audio/mp3"
        });
        var formData = new FormData();
        formData.append("audioName", file.name);
        formData.append("audioBlob", file);
        resolve(formData);
      });
    },
    onMediaError(e) {
      console.error("media error", e);
    },
  }
};
</script>
