<template>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
          <br>
          <div id="affdex_elements"></div>
      </div>
      <div class="col-md-3">
          <br>
        <div style="height:25em;">
          <strong>Raise your eyebrow and smile at the same time</strong>
          <p> Smile </p>
          <canvas id="myChart" width="50" height="50"></canvas>
          <p> eyebrow </p>
          <canvas id="myChart2" width="50" height="50"></canvas>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div>
        <br>
      <button id="start" @click="onStart()">Start</button>
      <button id="stop" @click="onStop()">Stop</button>
      <button id="reset" @click="onReset()">Reset</button>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    script: [
      {
        src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      },
      { src: "https://download.affectiva.com/js/3.1/affdex.js" },
      {
        src:
          "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
      },
      {
        src:
          "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"
      }
    ],
    link: [
      {
        rel: "stylesheet",
        href: "https://fonts.googleapis.com/css?family=Roboto"
      }
    ]
  },
  data() {
    return {
      detector: null
    };
  },
  mounted() {
    this.main();
  },
  methods: {
    main() {
      var divRoot = $("#affdex_elements")[0];
      var width = 690;
      var height = 487;
      var faceMode = affdex.FaceDetectorMode.LARGE_FACES;
      //Construct a CameraDetector and specify the image width / height and face detector mode.
      this.detector = new affdex.CameraDetector(
        divRoot,
        width,
        height,
        faceMode
      );

      //Enable detection of all Expressions, Emotions and Emojis classifiers.
      this.detector.detectAllEmotions();
      this.detector.detectAllExpressions();
      this.detector.detectAllEmojis();
      this.detector.detectAllAppearance();

      //Add a callback to notify when the this.detector is initialized and ready for runing.
      this.detector.addEventListener("onInitializeSuccess", function() {
        console.log("#logs", "The this.detector reports initialized");
        //Display canvas instead of video feed because we want to draw the feature points on it
        $("#face_video_canvas").css("display", "block");
        $("#face_video").css("display", "none");
      });

      function log(node_name, msg) {
        //$(node_name).append("<span>" + msg + "</span><br />")
        console.console.log(msg);
      }

      //Add a callback to notify when camera access is allowed
      this.detector.addEventListener("onWebcamConnectSuccess", function() {
        console.log("#logs", "Webcam access allowed");
      });

      //Add a callback to notify when camera access is denied
      this.detector.addEventListener("onWebcamConnectFailure", function() {
        console.log("#logs", "webcam denied");
        console.console.log("Webcam access denied");
      });

      //Add a callback to notify when this.detector is stopped
      this.detector.addEventListener("onStopSuccess", function() {
        console.log("#logs", "The this.detector reports stopped");
        $("#results").html("");
      });

      //Add a callback to receive the results from processing an image.
      //The faces object contains the list of the faces detected in an image.
      //Faces object contains probabilities for all the different expressions, emotions and appearance metrics
      this.detector.addEventListener("onImageResultsSuccess", function(
        faces,
        image,
        timestamp
      ) {
        $("#results").html("");
        console.log("#results", "Timestamp: " + timestamp.toFixed(2));
        console.log("#results", "Number of faces found: " + faces.length);
        if (faces.length > 0) {
          //console.log('#results', "Emotions: " + faces[0].expressions["smile"]);
          // console.log('#results', "Appearance: " + JSON.stringify(faces[0].appearance));
          // console.log('#results', "Emotions: " + JSON.stringify(faces[0].emotions, function(key, val) {
          //   return val.toFixed ? Number(val.toFixed(0)) : val;
          // }));
          console.log(
            "#results",
            "Expressions: " +
              JSON.stringify(faces[0].expressions, function(key, val) {
                return val.toFixed ? Number(val.toFixed(0)) : val;
              })
          );
          // console.log('#results', "Emoji: " + faces[0].emojis.dominantEmoji);
          drawFeaturePoints(image, faces[0].featurePoints);
          //smile
          myChart.options.elements.center.text =
            Number(faces[0].expressions["smile"]).toFixed(0) + "%";
          myChart.data.datasets[0].data[0] =
            Number(faces[0].expressions["smile"]).toFixed(0) * 100;
          myChart.update();
          //browRaise
          myChart2.options.elements.center.text =
            Number(faces[0].expressions["browRaise"]).toFixed(0) + "%";
          myChart2.data.datasets[0].data[0] =
            Number(faces[0].expressions["browRaise"]).toFixed(0) * 100;
          myChart2.update();
        }
      });

      //Draw the detected facial feature points on the image
      function drawFeaturePoints(img, featurePoints) {
        var contxt = $("#face_video_canvas")[0].getContext("2d");

        var hRatio = contxt.canvas.width / img.width;
        var vRatio = contxt.canvas.height / img.height;
        var ratio = Math.min(hRatio, vRatio);

        contxt.strokeStyle = "#FFFFFF";
        for (var id in featurePoints) {
          contxt.beginPath();
          contxt.arc(
            featurePoints[id].x,
            featurePoints[id].y,
            2,
            0,
            2 * Math.PI
          );
          contxt.stroke();
        }
      }
      Chart.pluginService.register({
        beforeDraw: function(chart) {
          if (chart.config.options.elements.center) {
            //Get ctx from string
            var ctx = chart.chart.ctx;

            //Get options from the center object in options
            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || "Arial";
            var txt = centerConfig.text;
            var color = centerConfig.color || "#000";
            var sidePadding = centerConfig.sidePadding || 20;
            var sidePaddingCalculated =
              sidePadding / 100 * (chart.innerRadius * 2);
            //Start with a base font of 30px
            ctx.font = "30px " + fontStyle;

            //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = chart.innerRadius * 2 - sidePaddingCalculated;

            // Find out how much the font can grow in width.
            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = chart.innerRadius * 2;

            // Pick a new font size so it will not be larger than the height of label.
            var fontSizeToUse = Math.min(newFontSize, elementHeight);

            //Set font settings to draw it correctly.
            ctx.textAlign = "center";
            ctx.textBaseline = "middle";
            var centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
            var centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;
            ctx.font = fontSizeToUse + "px " + fontStyle;
            ctx.fillStyle = color;

            //Draw text in center
            ctx.fillText(txt, centerX, centerY);
          }
        }
      });

      var config = {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [300, 100],
              backgroundColor: ["#FF6384", "#FFCE56"],
              hoverBackgroundColor: ["#FF6384", "#FFCE56"]
            }
          ]
        },
        options: {
          elements: {
            center: {
              text: "75%",
              color: "#FF6384", // Default is #000000
              fontStyle: "Arial", // Default is Arial
              sidePadding: 20 // Defualt is 20 (as a percentage)
            }
          }
        }
      };
      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx, config);

      var config2 = {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [300, 100],
              backgroundColor: ["#FF6384", "#FFCE56"],
              hoverBackgroundColor: ["#FF6384", "#FFCE56"]
            }
          ]
        },
        options: {
          elements: {
            center: {
              text: "75%",
              color: "#FF6384", // Default is #000000
              fontStyle: "Arial", // Default is Arial
              sidePadding: 20 // Defualt is 20 (as a percentage)
            }
          }
        }
      };
      var ctx2 = document.getElementById("myChart2").getContext("2d");
      var myChart2 = new Chart(ctx2, config2);
    },
    onStart() {
      if (this.detector && !this.detector.isRunning) {
        $("#logs").html("");
        this.detector.start();
      }
      console.log("#logs", "Clicked the start button");
    },
    onStop() {
      console.log("#logs", "Clicked the stop button");
      if (this.detector && this.detector.isRunning) {
        this.detector.removeEventListener();
        this.detector.stop();
      }
    },
    onReset() {
      console.log("#logs", "Clicked the reset button");
      if (this.detector && this.detector.isRunning) {
        this.detector.reset();

        $("#results").html("");
      }
    }
  }
};
</script>
