<template>
  <div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <router-link class="navbar-brand" :to="'/'"><img src="~/assets/img/bewith-logo@2x.png" alt=""></router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#"><img src="~/assets/img/learn-icon@2x.png" alt=""> เรียนรู้</a>
            </li> -->
            <li class="nav-item" :class="{active: this.$route.name==='painting'}">
              <router-link class="nav-link" :to="'/painting'">
              <img src="~/assets/img/play-icon-active@2x.png" alt="" v-if="this.$route.name==='painting'">
              <img src="~/assets/img/play-icon@2x.png" alt="" v-else> 
              เล่นเกม
              </router-link>
            </li>
          </ul>
          <!-- <ul class="navbar-nav mt-2 mt-lg-0">
            <li>
              <a href="#"><img src="~/assets/img/noti-2-icon@2x.png" alt="" style="vertical-align: -webkit-baseline-middle; margin-right:10px;"></a>
            </li>
            <li>
              <a href="#"><img src="~/assets/img/profile-img-xs@2x.png" alt=""></a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <nuxt/>
    <!-- <footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright © 2018 <img src="~/assets/img/bewith-logo@2x.png" height="26px" style="vertical-align: text-bottom;"></span>
      </div>
    </footer> -->
  </div>
</template>

<style>
html {
  font-family: "Kanit" !important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  font-family: "Kanit" !important;
  font-size: 18px;
  padding: 75px 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.navbar.bg-primary.navbar-expand-lg {
  background: #f41a62 !important;
  padding: 15px;
  max-height: 56px;
}
.navbar-light .navbar-nav:hover .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 4px 18px 5px 14px;
  font-weight: bold;
  border-radius: 30px;
  margin-left: 15px;
}
.navbar-light .nav-link img {
  vertical-align: sub;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #f41a62;
  font-weight: bold;
  background: #fff;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #dddddd;
}
</style>
