<template>
  <section class="container">
    <div>
      <!-- <app-logo/> -->
      <img src="~/assets/img/teddy-bear-icon@2x.png" alt="">
      <h4 class="title">
        BEWITH
      </h4>
      <h2 class="subtitle">
        
      </h2>
      <div class="links">
        <router-link
          :to="'/painting'"
          class="button--green">Start</router-link>
      </div>
    </div>
  </section>
</template>

<script>

export default {
};
</script>

<style scoped>
.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Kanit";
  display: block;
  font-weight: bold;
  font-size: 1.6em;
  color: #f41a62;
  margin-top: 10px;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.button--green{
  border-color: #F12264;
  color:#F12264;
}
.button--green:hover{
  background: #F12264;
  color: #fff;
}
</style>
