<style scoped>
.parent {
    position: relative;
    padding-bottom: 80%;
}
.child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    background: url('~/assets/svg/attractions/map.svg');
}
.roads, .user{
    position:absolute;
    background: #fff;
    transition: all 0.4s;
}

.places {
    position: absolute;
}
.places img {
    position: absolute;
    bottom: 0;
}

.actor.run {
    position:absolute;
    width: 200%;
    padding-bottom: 500%;
    background: url('~/assets/svg/attractions/character/characterWalkV1.png') no-repeat 0 0%;
    background-size: 100%;
    animation: play 1s steps(7) infinite;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes play {
    from { background-position: 0 0%; }
    to { background-position: 0 100%; }
}
</style>

<template>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="parent">
                    <div class="child" ref="layout">
                        <div class="roads" v-for="(item, index) in roads" :data-x="item.x" :data-y="item.y" :key="index"></div>
                        <div class="places" v-for="(item, index) in places" :data-x="item.x" :data-y="item.y" :key="index">
                            <img :src="item.img" alt="">
                        </div>
                        <div class="user" ref="user">
                            <div class="actor run"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <button type="button" class="btn btn-outline-primary" @click="current.direction = 'up'; current.move = true;">Up</button>
                <button type="button" class="btn btn-outline-secondary" @click="current.direction = 'down'; current.move = true;">Down</button>
                <button type="button" class="btn btn-outline-success" @click="current.direction = 'left'; current.move = true;">Left</button>
                <button type="button" class="btn btn-outline-danger" @click="current.direction = 'right'; current.move = true;">Right</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                layoutScale:{
                    w:20,
                    h:16
                },
                current:{ x: 9, y: 14, move:false, direction:null},
                characters: [
                    { name: 'stand', img: 'https://html.kriang.space/bewith/assets/svg/character/stand.svg' },
                    { name: 'walk', img: 'https://html.kriang.space/bewith/assets/svg/character/walk.svg' },
                    { name: 'walkBack', img: 'https://html.kriang.space/bewith/assets/svg/character/walkBack.svg' },
                    { name: 'walkSide', img: 'https://html.kriang.space/bewith/assets/svg/character/walkSide.svg' },
                ],
                places: [
                    { x: 1, y: 0, name: 'Falls', img: 'https://html.kriang.space/bewith/assets/svg/attractions/falls.svg' },
                    { x: 7, y: 0, name: 'Mountains', img: 'https://html.kriang.space/bewith/assets/svg/attractions/mountains.svg' },
                    { x: 12, y: 1, name: 'Cave', img: 'https://html.kriang.space/bewith/assets/svg/attractions/cave.svg' },
                    { x: 1, y: 6, name: 'Canal', img: 'https://html.kriang.space/bewith/assets/svg/attractions/canal.svg' },
                    { x: 15, y: 4, name: 'Forest', img: 'https://html.kriang.space/bewith/assets/svg/attractions/forest.svg' },
                    { x: 1, y: 10, name: 'Park', img: 'https://html.kriang.space/bewith/assets/svg/attractions/park.svg' },
                    { x: 15, y: 11, name: 'Temple', img: 'https://html.kriang.space/bewith/assets/svg/attractions/wat.svg' },
                ],
                roads: [
                    { x: 3, y: 3, point: true },
                    { x: 4, y: 3 },
                    { x: 5, y: 3 },
                    { x: 6, y: 3, break: true },
                    { x: 7, y: 3 },
                    { x: 8, y: 3, point: true },
                    { x: 6, y: 4 },
                    { x: 6, y: 5 },
                    { x: 6, y: 6 },
                    { x: 6, y: 7 },
                    { x: 6, y: 8 },

                    { x: 3, y: 9, point: true },
                    { x: 4, y: 9 },
                    { x: 5, y: 9 },
                    { x: 6, y: 9, break: true },
                    { x: 7, y: 9 },
                    { x: 8, y: 9 },
                    { x: 9, y: 9 },
                    { x: 10, y: 9 },
                    { x: 11, y: 9 },
                    { x: 12, y: 9 },

                    { x: 13, y: 4, point: true },
                    { x: 13, y: 5 },
                    { x: 13, y: 6 },
                    { x: 13, y: 7, break: true },
                    { x: 13, y: 8 },
                    { x: 13, y: 9, break: true },
                    { x: 13, y: 10 },
                    { x: 13, y: 11},

                    { x: 5, y: 12, point: true },
                    { x: 6, y: 12 },
                    { x: 7, y: 12 },
                    { x: 8, y: 12 },
                    { x: 9, y: 12, break: true },
                    { x: 10, y: 12 },
                    { x: 11, y: 12 },
                    { x: 12, y: 12 },
                    { x: 13, y: 12, break: true },
                    { x: 14, y: 12, point: true},

                    { x: 9, y: 13 },
                    { x: 14, y: 7 },
                    { x: 15, y: 7, point: true},
                    { x: 9, y: 14 },
                ]
            }
        },
        watch: {
            current: {
                handler: function (val, oldVal) {
                    this.move();
                },
                deep: true
            }
        },
        mounted() {
            this.init();
            this.setUser()
            window.addEventListener('keyup', this.keymonitor)
        },
        methods: {
            init(){
                const layout = this.$refs.layout
                let roads = layout.querySelectorAll(".roads");
                // let style = {};
                roads.forEach((el, i) => {
                    let style = {
                        width: `${1 * 100 / this.layoutScale.w}%`,
                        height: `${1 * 100 / this.layoutScale.h}%`,
                        left: `${this.roads[i].x * 100 / this.layoutScale.w}%`,
                        top: `${this.roads[i].y * 100 / this.layoutScale.h}%`,
                    };
                    if(this.roads[i].point){
                        style.background = '#f00';
                    }
                    if(this.roads[i].break){
                        style.border = '1px solid #00f';
                    }
                    // Object.assign(el.style, style);
                });

                let places = layout.querySelectorAll(".places");
                places.forEach((el, i) => {
                    let style = {
                        width: `${4.5 * 100 / this.layoutScale.w}%`,
                        height: `${3 * 100 / this.layoutScale.h}%`,
                        left: `${this.places[i].x * 100 / this.layoutScale.w}%`,
                        top: `${this.places[i].y * 100 / this.layoutScale.h}%`,
                    }
                    Object.assign(el.style, style);
                });
            },
            keymonitor(event) {
                let key = event.key
                this.current.move = true;
                if (key === 'ArrowUp') {
                    this.current.direction = 'up'
                } else if (key === 'ArrowDown') {
                    this.current.direction = 'down'
                } else if (key === 'ArrowLeft') {
                    this.current.direction = 'left'
                } else if (key === 'ArrowRight') {
                    this.current.direction = 'right'
                }
            },
            setUser(){
                const {x, y} = this.current;
                let user = this.$refs.user
                let style = {
                    background: 'transparent',
                    width: `${1 * 100 / this.layoutScale.w}%`,
                    height: `${1 * 100 / this.layoutScale.h}%`,
                    left: `${x * 100 / this.layoutScale.w}%`,
                    top: `${y * 100 / this.layoutScale.h}%`,
                };
                if(this.current.direction==='right'){
                    // style.transform = 'scaleX(-1)';
                } else if(this.current.direction==='left'){
                    // style.transform = 'scaleX(1)';
                }
                Object.assign(user.style, style);
            },
            move() {
                const {x, y, direction, move } = this.current;
                let next;
                if (direction === 'up') {
                    next = {
                        x, y: y-1
                    }
                } else if (direction === 'down') {
                    next = {
                        x, y: y+1
                    }
                } else if (direction === 'left') {
                    next = {
                        x: x-1, y
                    }
                } else if (direction === 'right') {
                    next = {
                        x: x+1, y
                    }
                } 
                let nextPostion = this.roads.filter((item)=>{
                    return item.x===next.x && item.y===next.y
                });
                if(nextPostion.length>0 && move){
                
                    if(nextPostion[0].break){
                        this.current.move = false
                    }
                    setTimeout(() => {
                    this.current.x = next.x;
                    this.current.y = next.y;
                    this.setUser()
                    }, 400);
                } else {
                    this.current.move = false
                }
            },
            genImage(path) {
                console.log(path)
                return require(`${path}`)
            }
        }
    };
</script>