<template>
  <div class="container">
    <br>
    <h2>{{animal.name}}</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card bg-light mb-3">
          <div class="card-header"><strong>วิธีการเล่น</strong></div>
          <div class="card-body">
            <p class="card-text">กดที่ชิ้นส่วนของรูปภาพ เมื่อสัญลักษณ์ <img src="~/assets/svg/microphone.svg" height="20px"> ปรากฏขึ้น ให้พูดชื่อสีที่ต้องการระบาย</p>
          </div>
        </div>
        <br>
        <painting :info="animal" ref="painting" @onActive="onActive"></painting>
        <div class="text-center">
          <speech-recognition @textOutput="onTextOutput" ref="btnSpeech"></speech-recognition>
          <br>
          <p v-show="result">Result: {{result}}</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="example">
          <h4>Example Color</h4>
          <palette :colors="animal.colors"></palette>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Painting from "~/components/Painting.vue";
import SpeechRecognition from "~/components/SpeechRecognition.vue";
import SpeechToText from "~/components/SpeechToText.vue";
import Palette from "~/components/Palette.vue";

export default {
  components: {
    painting: Painting,
    "speech-recognition": SpeechRecognition,
    "speech-to-text": SpeechToText,
    palette: Palette
  },
  data() {
    return {
      result: null,
      refsBtnSpeech: null,
      refsPainting: null,
    };
  },
  mounted(){
    this.refsBtnSpeech = this.$refs.btnSpeech;
    this.refsPainting = this.$refs.painting;
  },
  computed: {
    animal() {
      return this.$store.state.animals.find(i => {
        return i.id == this.$route.params.id;
      });
    },
  },
  methods: {
    onTextOutput(color) {
      this.refsPainting.setColor(color);
      this.result = color;
    },
    onActive(payload) {
      this.refsBtnSpeech.$el.style.position = 'absolute';
      this.refsBtnSpeech.$el.style.left = payload.layerX+'px';
      this.refsBtnSpeech.$el.style.top = payload.layerY+'px';
      this.refsBtnSpeech.startRecord();
    }
  }
};
</script>

<style scoped>
.btn {
  border-radius: 30px;
  padding: 4px 10px 4px 10px;
  margin: 5px 10px;
}
.btn-record {
  font-size: 1em;
  font-family: "Kanit";
  border-radius: 30px;
  padding: 4px 20px 4px 10px;
}
.btn-record img {
  width: 30px;
  background: #f00;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}
.btn-record span {
  vertical-align: inherit;
}
.warning {
  margin-top: 5px;
  color: #f00;
}
.badge {
  margin-left: 10px;
}
</style>
