<template>
  <div class="container">
    <br>
    <h2>Animal <small>(สัตว์)</small></h2>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-lg-3" v-for="(animal, index) in animalsList" :key="index">
        <router-link :to="'painting/'+animal.id">
          <painting-card :info="animal"></painting-card>
        </router-link>
      </div>
    </div>
    <br>
    <h2>Fruit <small>(ผลไม้)</small></h2>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-lg-3">
        <router-link to="fruit">
          <painting-card :info="{name:'Fruit', svg:require('~/assets/svg/fruits/words/apple.svg')}"></painting-card>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import PaintingCard from "~/components/PaintingCard.vue";
export default {
  components: {
    "painting-card": PaintingCard
  },
  computed: {
    animalsList() {
      return this.$store.state.animals;
    }
  },
  methods: {}
};
</script>

<style scoped>
h2,
a {
  color: #f41a62;
}
</style>